	
			/*头部样式*/
			#header{
				height:100px;
				background-color:#000000;
				color:white;
				text-align: center;
				padding:1px;
			}
		/*内容部分样式*/
			#section{
				height:800px;
				
		}
		/* 内容部分第一个div */
		.section-center-div1{
			height: 20%;
			background-color: #000000;
		}
		/* canvas的div样式 */
		.section-center-div2{
			height:60%;
			width:100%;
			background-color: #000000;
		}
		.section-center-div3{
			height: 20%;
		}
		/* 内容左边div样式 */
		.section-left{
			height:1360px;
			width:15%;
			background-color:#FFC0CB;
			float: left;
		}
		.section-left-div1{
			height: 20%;
		}
		.section-left-div2{
			height: 10%;
		}
		/*中间div样式*/
		.section-center{
			height:1360px;
			width:70%;
			float: left;
			background-color: #fff;
		}
		/* 内容右边div样式 */
		.section-right{
			height:1360px;
			width:15%;
			float: right;
			background-color: white;
		}
		/* 个人简历 */
		.brief-p{
			color: white;
			font-size:18px;
			font-style:italic;
		}
		#footer{
			background-color:black;
			color:white;
			clear:both;
			text-align: center;
			padding:1px;
		}
		
		
		
			*{margin:0;padding:0;}
			ul{
				list-style: none;
				text-align:center;
				height:50px;
				padding-left:30px;
				border-bottom: 5px solid #F60;
				}
			li{
				float:left;
				margin-top:20px}
			.nav a{
				text-decoration: none;
				display: block;
				height: 30px;
				line-height: 30px;
				width:120px;
				background-color: darkseagreen;
				margin-bottom:1px;
				text-align: center;
				background:url(../image/btnBg.png);
				}
			.on,a:hover{
				color:#fff;
				background-position:0 -30px
				}
			.name{
				style="font-family:verdana" 
				}
			